body {
  &.isRed {
    background: red;
  }
  &.withImage {
    background: url("image.png");
  }
  &.withImageUsingComplexUrl {
    background: url("../images/image.png");
  }
  &.withRawImage {
    background: url(image.png);
  }
  &.withAbsoluteImage {
    background: url("/images/image.png"); // relative to tests root, since we set working dir to test dir everytime
  }
  &.dataUrl {
    background: url("data:data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==");
  }
  &.absoluteUrl {
    background: url("https://should-be-ignored.com/image.png");
  }
  &.pathToLocalSvg {
    background: url("subfolder/c_folder/d_folder/atom.svg#content"); // we ignore #content at the output path, since esbuild doesn't support it yet
  }
  &.externalUrls {
    background: url("/external/should-be-ignored.png");
  }
}
